<!DOCTYPE html>
<html lang="en">

<head>
    <title>ExpoMapper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>

    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
    <link href="/styles/style.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">ExpoMapper</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/"><i class="fa fa-plus fa-plus-2x text-primary"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="newMap"><i class="fa fa-plus fa-plus-2x text-primary"></i> New Floor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="artisan"><i class="fa fa-plus fa-plus-2x text-primary"></i> New artisan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="manageData"><i class="fa fa-database fa-database-2x text-primary"></i> Manage Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-8 col-sm-2">
                    <button id="getFloorInfo" type="submit" class="btn btn-primary btn-x2 text-uppercase">Projects in progress</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <!-- Floors from backbone view -->
                    <div id="floorsContainer" class="data-container" style="display: none;">
                        <h1>Floors in progress</h1>
                        <div id="floorsTable"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2019</span>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

<!-- Modal -->
<div id="userLoginModal" class="modal fade" role="dialog" tabindex="-1" role="dialog" aria-labelledby="userLoginModal" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="loginModalHeader" class="modal-header" style="display: none;">
                <h4 class="modal-title">Log in</h4>
            </div>
            <div id="signModalHeader" class="modal-header" style="display: none;">
                <h4 class="modal-title">Sign up</h4>
            </div>

            <div class="modal-body">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a id="loginTabLink" href="#loginTab" aria-controls="loginTab" role="tab" data-toggle="tab">
                                Log In
                            </a>
                        </li>
                        <li role="presentation">
                            <a id="signupTabLink" href="#signupTab" aria-controls="signUpTab" role="tab" data-toggle="tab">
                                &nbsp;&nbsp;&nbsp;Sign In
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- User login tab-->
                        <div role="tabpanel" class="tab-pane active" id="loginTab">
                            <!-- Inputs-->
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Username</label>
                                <div class="col-sm-10">
                                    <input id="username" type="text" class="form-control" id="staticEmail">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <input id="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                                </div>
                            </div>
                            <!--Inputs end -->

                            <!-- Alert -->
                            <div id="userNotFoundAlert" class="alert alert-danger" role="alert" style="display: none;">
                                User not found
                            </div>

                        </div>
                        </form>

                        <!-- Sign in tab-->
                        <div role="tabpanel" class="tab-pane" id="signupTab">
                            <!-- Inputs-->
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input id="newName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input id="newEmail" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Username</label>
                                <div class="col-sm-10">
                                    <input id="newUsername" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <input id="newPassword" type="password" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Confirm password</label>
                                <div class="col-sm-10">
                                    <input id="newConfirmPassword" type="password" class="form-control">
                                </div>
                            </div>

                            <!-- Alert -->
                            <div id="errorSignup" class="alert alert-danger" role="alert" style="display: none;">
                                Error signing up user
                            </div>
                            <!-- Alert -->
                            <div id="passwordNotMatch" class="alert alert-danger" role="alert" style="display: none;">
                                Passwords do not match
                            </div>
                        </div>
                        <!-- Sign in tab end-->

                    </div>
                </div>
            </div>
            <div id="modalFooterLogin" class="modal-footer" style="display: none;">
                <!-- Spinner -->
                <div id="loginSpinner" class="spinner-border text-info" role="status" style="display: none;">
                    <span class="sr-only">Loading...</span>
                </div>
                <button type="button" id="loginButton" class="btn btn-default">Log in</button>
            </div>
            <div id="modalFooterSignup" class="modal-footer" style="display: none;">
                <!-- Spinner -->
                <div id="signupSpinner" class="spinner-border text-info" role="status" style="display: none;">
                    <span class="sr-only">Loading...</span>
                </div>
                <button type="button" id="signupButton" class="btn btn-default">Sign up</button>
            </div>
        </div>
    </div>


    <!-- JavaScrip files for user models and views -->
    <script src="/js/models/user.js"></script>

    <!-- JavaScrip files for artisan models and views -->
    <script src="/js/models/floor.js"></script>
    <script src="/js/views/floor.js"></script>

    <!-- main js to control this page -->
    <script src="/js/floor-data.js"></script>
    <script src="js/login.js"></script>
</body>

</html>