<!DOCTYPE html>
<html lang="en">

<head>
    <title>ExpoMapper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="js/lib/fabric-min.js"></script>
    <script src="js/workspace/genericComponent.js"></script>
    <script src="js/workspace/genericSpace.js"></script>
    <script src="js/workspace/floor.js"></script>
    <script src="js/workspace/section.js"></script>
    <script src="js/workspace/stand.js"></script>
    <script src="js/workspace/workspace.js"></script>

    <!-- style -->

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- general style -->
    <link href="/styles/style.css" rel="stylesheet">
    <link href="/css/general.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>

    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">ExpoMapper</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/"><i class="fa fa-plus fa-plus-2x text-primary"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="newMap"><i class="fa fa-plus fa-plus-2x text-primary"></i> New Floor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="artisan"><i class="fa fa-plus fa-plus-2x text-primary"></i> New artisan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="manageData"><i class="fa fa-database fa-database-2x text-primary"></i> Manage Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="dashboard">
        <!-- main body container. Needs to be container-fluid to span across all screen width-->
        <div id="mainBodyContainer" class="container" style="margin-top:30px">
            <!-- header row -->
            <div class="row" id="headerRow">
                <div class="col-sm-8">
                    <h2>Map (NOMBRE)</h2>
                </div>
            </div>
            <!-- header row  end -->
            <!-- workspace row-->
            <div class="row" id="workspaceRow">

                <!-- tools column -->
                <div class="col-sm-4 tools-column">

                    <!-- canvas actions row-->
                    <div class="row" id="canvasActions">

                        <!-- canvas action column -->
                        <div class="col-sm-12">

                            <!-- canvas actions header row -->
                            <div class="row" id="actionsHeader">
                                <div class="col-sm-12 tools-header-column">Actions: </div>
                            </div>
                            <!-- canvas actions header row end -->

                            <!-- canvas actions first row-->
                            <div class="row" id="actionsFirstLevel">
                                <button id="newSection" type="submit" class="col-sm-5 canvas-action-button btn"><i class="fa fa-plus fa-plus"></i> Section</button>
                                <button id="deleteSection" type="submit" class=" col-sm-5 canvas-action-button btn"><i class="fa fa-minus fa-plus"></i> Section</button>
                            </div>
                            <!-- canvas actions first row end -->

                            <!-- canvas actions second row-->
                            <div class="row" id="actionsSecondLevel">
                                <button id="newStand" type="submit" class="col-sm-5 canvas-action-button btn"><i class="fa fa-plus fa-plus"></i> Stand</button>
                                <button id="deleteStand" type="submit" class="col-sm-5 canvas-action-button btn"><i class="fa fa-minus fa-plus"></i> Stand</button>
                            </div>
                            <!-- canvas actions second row end -->

                            <!-- canvas objects listing row -->
                            <div class="row" id="canvasObjectListing">
                                <div class="col-sm-12 tools-header-column">Properties:</div>
                            </div>
                            <!-- canvas objects listing row end -->
                        </div>
                        <!-- canvas action column end -->
                    </div>
                    <!-- canvas action row end -->
                    <div class="col-md-8">
                        <!-- Sections from backbone view -->
                        <div id="sectionProperties" class="data-container" style="display: active;">
                            <h4>Section</h4>
                            <div id="sectionTable"></div>
                        </div>
                        <!-- Stands from backbone view -->
                        <div id="standProperties" class="data-container" style="display:active;">
                            <h4>Stand</h4>
                            <div id="standTable"></div>
                        </div>
                    </div>

                </div>
                <!-- tools column end -->

                <!--canvas column -->
                <div class="col-sm-8 workspace-panel">
                    <!--workspace container for canvas -->
                    <div id="workspaceContainer" class="workspace-container">
                        <!--canvas container -->
                        <!--workspace canvas -->
                        <!-- <canvas id="workspaceCanvas"></canvas> -->
                    </div>
                </div>
                <!--canvas column end -->
            </div>
            <!-- workspace row end -->
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2019</span>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Modal 1 -->
    <div class="actions-modal-modal modal fade" id="section-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!--Details Go Here -->
                                <h2 class="text-uppercase">New Section</h2>
                                <form id="section-form" name="section-form" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="stand-name">Section Name</label>
                                                <input type="text" class="form-control" id="sectionName" placeholder="Section Name" value="" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="capacity">Capacity:</label>
                                                <input type="text" class="form-control" id="capacity" placeholder="Capacity" value="" required>
                                                <!-- <select class="custom-select" id="artisan"></select> -->
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-lg-12 text-center">
                                                <div id="success"></div>
                                                <button id="save-section" class="btn btn-primary text-uppercase" type="button">Save</button>
                                                <button class="btn btn-primary" data-dismiss="modal" type="button">                   
                                                <i class="fa fa-times"></i> Close Project</button>
                                            </div>
                                        </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Js create newStand and newSection -->
        <script src="/js/models/section.js"></script>
        <script src="/js/newFloorData.js"></script>
        <script src="/js/newFloor.js"></script>


</body>

</html>