.workspace-side-panel {
    padding: 0px;
}

.workspace-panel {
    padding: 0px;
}

.workspace-container {
    border-style: solid;
    border-width: thin;
    border-color: gray;
    min-height: 600px;
}

.outer-canvas-container {
    min-width: 100%;
    min-height: 100%;
}

.workspace-canvas {
    min-height: 600px;
    min-width: 700px;
}


/* .tools-column {
    padding: 0px;
    border-style: solid;
    border-width: thin;
    border-color: blue;
    min-height: 600px;
} */


/* 
.tools-header-column {
    border-style: solid;
    border-width: thin;
    border-color: green;
} */

.properties-column {
    padding: 0px;
    border-style: solid;
    border-width: thin;
    border-color: yellow;
    max-width: 100%;
    min-height: 600px;
}

.canvas-action-button {
    border-style: solid;
    border-width: thin;
    border-color: green;
}